*{margin:0px;padding:0px;}
#carouselExampleIndicators{
    width:100%;
    height:100%;
    position: relative;
}
 ul.carousel-indicators>li{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:#fff;

  }
  ul.carousel-indicators>li.active{
      background-color:rgb(9, 195, 228);
  }
  #sideBar{
      width:200px;
      height:100%;
      z-index: 3;
      position: absolute;
      top:0px;
      left:15%;
  }
  #sideBar>.dropdown{
    width:200px;
    height:100%;
    position: relative;
  }
  #sideBar .dropdown-toggle{
      width:100%;
      height:40px;
      background:rgb(233, 101, 13);
      color:#fff;
      line-height: 40px;
      outline: none;
      text-align: center;
     
  }
  #sideBar .dropdown>ul.dropdown-menu{
      width:200px;
      height:100%;
      position:absolute;
      top:40px;
      background:rgba(236, 5, 5, 1);
  }